<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing</title>
</head>
<body>
    <p>The favourite listings are : </p>
    {%if listings|length == 0 %}
    <p>No listing</p>
    {% else %}
    <ul>
        {%for listing in listings %}
        <li>
            {{listing.title|upper}}
        </li>
        {%endfor%}
    </ul>
    {%endif%}

    
</body>
</html>